<!DOCTYPE html>
<html>

<body>

        <select name="component" id="component" multiple="multiple" size="7">
            {% for coms in component1 %}
            <option value ="{{coms.component}}">{{coms.component}}</option>
            {% endfor %}

            <form method="post" id="regloginform">
                
                <div class="form-item">
                    <input class="input-txt"  aria-label="用户名" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="component" placeholder="用户名" value="" type="text" data-reactid=".0.1.0.1.0.1.0.5.0">
                </div>
                <input type = "hidden" name = "next" value = "{{next}}"/>
                <div class="btn-wrapper">
                    <button class="btn-primary" type="submit" onclick="form=document.getElementById('regloginform');form.action='/reg/';">注册</button>
                    
                </div>
                
            </form>
            
            <input type="button" value="submit" onclick="javascrtpt:window.location.href='https://www.baidu.com/'">
        </select>

</body>
</html>