<!DOCTYPE html>
<html>
    <body>
        <div class="cssstyle" style="float:left;">
            <h3>Component</h3>
            <select name="component" id="component" multiple="multiple" size="10" style="width:250px;">
                {% for coms in component1 %}
                <option value ="{{coms.component}}">{{coms.component}}</option>
                {% endfor %}
            </select>
            <form method="post" id="addcomponent">
                
                <div class="form-item">
                    <input class="input-txt"  maxlength="30" name="addcom" value="" type="text" style="width:150px;">
                </div>  
                <input type = "hidden" name = "next" value = "{{next}}"/>
                <div class="btn-wrapper">
                    <button class="btn-primary" onclick="form=document.getElementById('addcomponent');form.action='/addcomp/';">ADD</button>
                    <button class="btn-primary" onclick="form=document.getElementById('addcomponent');form.action='/delcomp/';">DELETE</button>
                </div>
            </form>
        </div>

        

        

        <div class="cssstyle" style="float:left;">
            <h3>Assignee</h3>
            <select name="assignee" id="assignee" multiple="multiple" size="10" style="width:250px;">
                {% for asss in assignee1 %}
                <option value ="{{asss.assignee}}">{{asss.assignee}}</option>
                {% endfor %}
            </select>
            <form method="post" id="addassignee">
                
                    <div class="form-item">
                        <input class="input-txt"  maxlength="30" name="addass" value="" type="text" style="width:150px;">
                    </div>  
                    <input type = "hidden" name = "next" value = "{{next}}"/>
                    <div class="btn-wrapper">
                        <button class="btn-primary" onclick="form=document.getElementById('addassignee');form.action='/addassi/';">ADD</button>
                        <button class="btn-primary" onclick="form=document.getElementById('addassignee');form.action='/delassi/';">DELETE</button>
                    </div>
                </form>
        </div>
        

        <div class="cssstyle" style="float:left;">
            <h3>Target Milestone</h3>
            <select name="target" id="target" multiple="multiple" size="10" style="width:250px;">
                {% for targ in target1 %}
                <option value ="{{targ.target}}">{{targ.target}}</option>
                {% endfor %}
            </select>
            <form method="post" id="addtarget">
                
                    <div class="form-item">
                        <input class="input-txt"  maxlength="30" name="addtar" value="" type="text" style="width:150px;">
                    </div>  
                    <input type = "hidden" name = "next" value = "{{next}}"/>
                    <div class="btn-wrapper">
                        <button class="btn-primary" onclick="form=document.getElementById('addtarget');form.action='/addtarg/';">ADD</button>
                        <button class="btn-primary" onclick="form=document.getElementById('addtarget');form.action='/deltarg/';">DELETE</button>
                    </div>
                </form>
        </div>

        <div class="cssstyle" style="float:left;">
            <h3>Status</h3>
            <select name="status" id="status" multiple="multiple" size="10" style="width:250px;">
                {% for stat in status1 %}
                    {% if stat.status == 'NEW' or stat.status == 'ASSIGNED' or stat.status == 'REOPENED'%}
                        <option value ="{{stat.status}}" selected="selected">{{stat.status}}</option>
                    {% else %}
                        <option value ="{{stat.status}}">{{stat.status}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <form method="post" id="addstatus">
                
                    <div class="form-item">
                        <input class="input-txt"  maxlength="30" name="addsta" value="" type="text" style="width:150px;">
                    </div>  
                    <input type = "hidden" name = "next" value = "{{next}}"/>
                    <div class="btn-wrapper">
                        <button class="btn-primary" onclick="form=document.getElementById('addstatus');form.action='/addstat/';">ADD</button>
                        <button class="btn-primary" onclick="form=document.getElementById('addstatus');form.action='/delstat/';">DELETE</button>
                    </div>
                </form>
        </div>
        


        <div style="clear:both">
            <button onclick="queryindex()">
                SEARCH
            </button>
        </div>

        {% for msg in get_flashed_messages() %}
            <h3>{{ msg }}</h3>
        {% endfor %}
        
        <script type="text/javascript">
            function queryindex(){
                var tmpurl = "";

                var stat = new Array();
                var selectsta = document.getElementById("status");
                for(var i = 0;i < selectsta.length;i++){
                    if(selectsta.options[i].selected){
                        stat.push(selectsta[i].value);
                    }
                }
                if(stat.length!=0){
                    for(var i = 0; i < stat.length; i++){
                        tmpurl += "&bug_status=" + stat[i] ;
                    }
                }

                var asss = new Array();
                var selectass = document.getElementById("assignee");
                for(var i = 0;i < selectass.length;i++){
                    if(selectass.options[i].selected){
                        asss.push(selectass[i].value);
                    }
                }
                if(asss.length!=0){
                    tmpurl += "&j_top=OR";
                    for(var i = 0; i < asss.length; i++){
                        tmpurl += "&f" + (i+1) + "=assigned_to&o" + (i+1) + "=equals&v" +(i+1)+ "=" + asss[i];
                    }
                }

                var coms = new Array();
                var  myselect=document.getElementById("component");
                for(i=0;i<myselect.length;i++){
                    if(myselect.options[i].selected){
                        var tmp = myselect[i].value;
                        tmp = tmp.replace(/\s+/g,"%20");
                        tmp = tmp.replace(new RegExp(/(:)/g),"%3A");
                        tmp = tmp.replace(/\(/g,"%28");
                        tmp = tmp.replace(/\)/g,"%29");
                        coms.push(tmp);
                    }
                }
                if(coms.length!=0){
                    for(var i = 0; i < coms.length; i++){
                        tmpurl += "&component=" + coms[i];
                    }
                }

                var tars = new Array();
                var  selecttarg=document.getElementById("target");
                for(i=0;i<selecttarg.length;i++){
                    if(selecttarg.options[i].selected){
                        var tmp = selecttarg[i].value;
                        tmp = tmp.replace(/\s+/g,"%20");
                        tmp = tmp.replace(new RegExp(/(:)/g),"%3A");
                        tars.push(tmp);
                    }
                }
                if(tars.length!=0){
                    for(var i = 0; i < tars.length; i++){
                        tmpurl += "&target_milestone=" + tars[i];
                    }
                }



                //alert(coms);
                window.open("https://bugs.west.isilon.com/buglist.cgi?query_format=advanced&product=OneFS" + tmpurl);
            }

        </script>

            <style>
                .cssstyle {height:400px; width:300px; font-family:'Times New Roman', Times, serif}
                select option {font-size:16px; font-family:'Times New Roman', Times, serif}
                h3 {font-size:28px; font-family:'Times New Roman', Times, serif}
                button {font-size:16px; font-family:'Times New Roman', Times, serif}
                input {margin:10px 0}

                /*body{text-align:center}*/ 
            </style>
    </body>
</html>